

/*--------------formulario-viajes------------------*/
.tabla{
    width: 70%;
    
}
.cabecera-tabla{
    background-color: red;
    color: white;
}

/*###################u01##########################*/
/----------compra de pasajes----------*/


/*-------- seccion datos --------*/
.datos{
    display: flex;
    width: 100%;
}
.info-rutas{
    text-align: center;
    margin-bottom: 2em;
}
.info-rutas h3{
    margin: 2em 0;
}
.info-rutas table{
    margin: 0 auto;
}
.mensaje p{
    margin: 1em 0; 
    text-align: center;
}


/* ----------asientos---------- */
.asiento-ocupado{
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 2px;
    margin: 0 5px;
}
.asiento-disponible{
    background-color: green;
    border-radius: 50%;
    color: white;
    padding: 2px;
    margin: 0 5px;
}
.leyenda{
    display: flex;
    justify-content: center;
}
.ver-asientos{
    background-color: white;
}
.ver-asientos h3{
    text-align: center;
    padding: 2em 0;
}
.bus{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2em 0;

}
.grupo{
    width: 30%;
    background-image: url("../Imagenes/bus.svg");
    background-size: cover;
}
.piso{
    text-align: center;
    margin: 1em 0;
    color: white;
}
.asientos{
    display: flex;
    justify-content: space-evenly;
}
.asiento{
    margin: 15px 8px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: yellow;
}
.libre{
    margin: 15px 8px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: green;
    color: white;
}
.ocupado{
    margin: 15px 8px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: red;
    color: white;
}
/* ------formularios------ */

.muestra-form form{
    margin: 0 auto;
}
.ingresar-datos{
    color: white;
    padding: 10px 0;
    z-index: 1000;
	width: 100%;

}
.ingresar-datos-ruta{
    margin-top: 5em;

    
}




.btn-buscar{
    position: relative;
    top: 25px;
}
.ingresar-datos p{
    font-size: 2em;
    text-align: center;
}


.info-rutas h3{
    color: white;
}
.muestra-form{
    //background-color: #F8D7AE ;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.tabla{
    color: white;
}
.formulario{
    width: 100%;
}

.izq{
    width: 150px;
}
.input, .select{
    height: 30px;
}
td{
    padding: 5px;
}
.submit{
    width: 100%;
    margin: 2em 0;
    text-align: center;
}
.submit input{
    width: 50%;
}

.asiento-form{
    display: flex;
}
#contenido{
    width: 50%;
}
#contenido2{
    width: 50%;
}
.pagar{
    margin: 1em 0;
}
.labels-formulario{
   display: flex;  
}
.itemss{
    margin: 2px 1em 0 auto ;
}

.containers{
   border: 5px solid #F8D7AE ;
   background: #F8D7AE;
}
/*---------formulario index---------------*/

.formulario-index{
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    bottom: 580px;
    left: 400px;
}
.contendor-form{
 
}
.ruta{
    height: 30px;
    margin: 0 5px;
}
.fecha{
    height: 30px;
    margin: 0 5px;
}
.buscar-ruta{
    height: 30px;
    position: absolute;
    bottom: 10px;
    margin: 0 5px;
}

/*###################u02s##########################*/
/*###################u03##########################*/
:root {
    --primary: #2b2b3b;
    --light: #ffffff;
    --grey: #efefef;
}
.admin{
    overflow: hidden;
    font-family: "Mulish",sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover {
    text-decoration: none;
}
.bg-primary{
    background-color:var(--primary) !important;
}
.bg-mix{
    background: linear-gradient(180deg, var(--light) 50%,var(--grey)0);
}
#u3sidebar{
    min-height: 100vh;
}
#u3sidebar .u3logo{
    padding: .875rem 1.25rem;
}    
#u3sidebar .u3menu{
    width: 18rem;
    font-size: 1.25rem;
}
.btn-search{
    right: 5px;
}
.avatar{
    display: inline-block;
    max-width: 30px;
}
#content{
    overflow: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right: 1px solid var(--primary);
}
.


  .login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:red;
  text-align:center;
  font-size:300%;
  padding-top: 200px;
}
.login-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
  
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
  
}
.login-form input[type="submit"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family:  sans-serif;
  cursor:pointer;
} 
/*###################u05##########################*/

/* Estilo de las tablas */

#customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #2b2b3b;
          color: white;
        }


/* Style The Dropdown Button */
.dropbtn {
 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/*=================
  -Bienvenida 1-
===================*/

.head_title {
  float: center;
  text-align: center;
  background-color: #2b2b3b;
  color:white;
  font-weight: bold;
  padding: 15px;

}

/*=================
  -Bienvenida 1-
===================*/

.bienvenida_imagen {
  float: left;

}


.bienvenida_imagen img{
  width:180px;
  height:180px;
}


.bienvenida_titulo {
margin: auto;
padding: 25px;
padding-left: 250px;
font-weight: bold;
}

.bienvenida_parrafo {
  margin: auto;
  padding-left: 225px;
  }

  /*=================
  -FINANZAS -
===================*/

.finanzas_imagen {
  float: left;
  padding-left: 50px;

}

.finanzas_imagen2 {
  float: center;
  padding-left: 280px;

}

.finanzas_imagen3 {
  float: center;
  padding-left: 510px;
}


.finanzas_imagen img{
  width:180px;
  height:180px;
}

.finanzas_imagen2 img{
  width:180px;
  height:180px;
}

.finanzas_imagen3 img{
  width:180px;
  height:180px;
}


.finanzas_titulo {
margin: auto;
padding: 25px;
padding-left: 50px;
font-weight: bold;
}

.finanzas_parrafo {
  margin: auto;
  padding-left: 50px;
  }


